* {
    margin: 0;
    padding: 0;
}

#logo-section {
    background-image: url("./gwen-king-3OdajQGd9sk-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#logo-section img {
    width: 150px;
}
